.landingComponent{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.landing{
    margin-top: 80px;
    display: flex;
    flex-flow:column;
    position: relative;
    width: 100%;
    padding: 10px 5%;
}


@media screen and (max-width: 800px) {
    .landing{
    margin-top: 128px;
}
}
  