.opportunities{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 120%;
  text-align: start;
  
  &_leftDiv{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    &_item{
      padding: 10px;
      height: 200px;
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      padding: 10px 50px;
      left: 0px;
    }
    
  }
  &_rightDiv{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    &_item{
      padding: 10px;
      height: 200px;
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      padding: 10px 50px;
      left: 0px;
    }
  }
} 
