.prices{
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 20px;
    justify-content: space-around;
    // padding-top: 70px;
}
.annotation{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    margin: 10px 20px;
    font-size: 80%;
    padding-bottom: 150px;
}