.faqDiv {
  display: flex;
  flex-flow:row;
  justify-content: space-around;
  align-self: center;
  // background-image: radial-gradient(#3FB68A,#c0ded3);
  background-color: #3FB68A;
  padding: 10px;
  width: 95%;
  border-radius: 15px;
  color:white;
  transition: height 500ms ;
  text-align: start;
  // margin: 40px;
  &_content{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
  }
} 
 
@media screen and (max-width: 550px) {
  .faqDiv{
    font-size: 95%;
    & h2{
      margin: 10px
    }
    & >img{
      display: none;
    }
    &_content{
      width: 90%;
    }
  } 
}