.footer{
    // background-color:  #c0eedd;
    background-image: radial-gradient(#255c48, #3FB68A);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding: 10px 0px;

}